@using GenealogySite.Models;

@model IEnumerable<GenealogySite.Models.Person>

@{
    ViewData["Title"] = "Släktträd";
}

<h1>Index</h1>

<p>
    <a asp-controller="People" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDecease)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDecease)
                </td>
                <td>
                    <a asp-controller="People" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="People" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="People" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
